<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.risouf.qiita-team</string>
	<key>connections</key>
	<dict>
		<key>B20280C0-1336-4B85-BAD6-40D687A54AD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F589C8B-38F8-4590-8C0E-353DAF9EE240</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>risou</string>
	<key>description</key>
	<string>search article from Qiita:Team you belong to</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Qiita:Team</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>qt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>query=$1

./bin/qiita-team-alfred-workflow $team $token $(echo $query | iconv -f "UTF-8-MAC" -t "UTF-8")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Qiita:Team for {query}</string>
				<key>title</key>
				<string>Search Qiita:Team</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B20280C0-1336-4B85-BAD6-40D687A54AD2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8F589C8B-38F8-4590-8C0E-353DAF9EE240</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8F589C8B-38F8-4590-8C0E-353DAF9EE240</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B20280C0-1336-4B85-BAD6-40D687A54AD2</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>team</key>
		<string></string>
		<key>token</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>team</string>
		<string>token</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>www.risouf.net</string>
</dict>
</plist>
